@import "tailwindcss";


/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
    width: 0px;
    /* Chrome, Safari */
    height: 0px;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}